# Microchip / Atmel Studio
Debug/
Release/
.vs/

# Archivos generados
*.o
*.obj
*.map
*.lss
*.elf
*.hex
*.eep
*.bin
*.log
Laboratorio 4/links, lab 4.pdf
Laboratorio 5/links lab 5.pdf
Laboratorio 5/Laboratorio 5/Laboratorio 5.cproj
Laboratorio 5/Laboratorio 5/Laboratorio 5.cproj
